<%- include('partials/header') %>
<%- include('partials/nav') %>

<main id="page-not-found">
    <img src="/images/undraw_Page_not_found_re_e9o6.png" alt="">
    <h1>Page Not Found</h1>
</main>

<%- include('partials/footer') %>