<%- include('partials/header') %>

    <%- include('partials/nav') %>
    

    <main id="about" class="container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro nisi doloribus et esse pariatur? Rem, laborum vel. Autem vel quidem deserunt obcaecati id aspernatur, quisquam minus, quia dolores ex ipsam?</p>
        <div class="tech-stack">
            <p><a href=""><img src="" alt=""></a>HTML</p>
            <p><a href=""><img src="" alt=""></a>CSS</p>
            <p><a href=""><img src="" alt=""></a>Javascript</p>
        </div>
        <div class="tech-stack">
            <p><a href=""><img src="" alt=""></a>Express</p>
            <p><a href=""><img src="" alt=""></a>NodeJS</p>
            <p><a href=""><img src="" alt=""></a>MySQL</p>
        </div>
    </main>

<%- include('partials/footer') %>