<%- include('partials/header') %>

    <%- include('partials/nav') %>

    <main id="add-item" class="container">
        <form action="">
            <input type="text" name="newitem" placeholder="Enter item...">
            <input type="submit" value="Save item">
        </form>
    </main>

<%- include('partials/footer') %>