<%- include('partials/header') %>

    <main id="home" class="container">
        <div>
            <div class="col">
                <h1>LISt</h1>
                <p>Forget forgeting. Organize your shopping list effeciently using <b>List</b></p>
                <a href="/list">View list</a>
            </div>
            <div class="col">
                <img src="/media/empty_cart.png" alt="">
            </div>
        </div>
    </main>

<%- include('partials/footer') %>